:root {
	--color1: #5ad1cd;
	--color2: #ff6347;
	--color: var(--color1);
	--bg-color: white;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	background: var(--bg-color);
}

.square {
	position: relative;
	margin: 0 10px;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 110%;
	border: 2px solid var(--color);
	border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
	transition: 0.5s;
	animation: anim1 6s linear infinite;
	filter: brightness(1);
}

.square span:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	width: 105%;
	height: 105%;
	border: 2px solid var(--color);
	border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	transition: 0.5s;
	animation: anim2 4s linear infinite;
	filter: brightness(0.9);
}

.square span:nth-child(3) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid var(--color);
	border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
	transition: 0.5s;
	animation: anim3 10s linear infinite;
	filter: brightness(0.8);
}
.square span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
	margin: 2.5%;
	background-color: var(--color);
	border-radius: 25% 51% 73% 36% / 42% 59% 64% 83%;
	transition: 0.5s;
	animation: anim4 6s linear infinite;
	opacity: 1;
}

@keyframes anim1 {
	0% {
		transform: rotate(360deg);
		border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
	}
	50% {
		transform: rotate(180deg);
		border-radius: 75% 76% 41% 28% / 45% 56% 22% 64%;
	}
	100% {
		transform: rotate(0deg);
		border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
	}
}
@keyframes anim2 {
	0% {
		transform: rotate(0deg);
		border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	}
	50% {
		transform: rotate(180deg);
		border-radius: 70% 74% 49% 40% / 21% 56% 58% 79%;
	}
	100% {
		transform: rotate(360deg);
		border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
	}
}
@keyframes anim3 {
	0% {
		transform: rotate(360deg);
		border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
	}
	50% {
		transform: rotate(180deg);
		border-radius: 70% 48% 59% 67% / 20% 22% 49% 61%;
	}
	100% {
		transform: rotate(0deg);
		border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
	}
}
@keyframes anim4 {
	0% {
		transform: rotate(0deg);
		border-radius: 25% 51% 73% 36% / 42% 59% 64% 83%;
	}
	50% {
		transform: rotate(180deg);
		border-radius: 64% 21% 49% 29% / 63% 35% 66% 62%;
	}
	100% {
		transform: rotate(360deg);
		border-radius: 25% 51% 73% 36% / 42% 59% 64% 83%;
	}
}
form {
	position: relative;
	z-index: 1;
	background-color: rgba(127.5, 127.5, 127.5, 0.125);
	height: auto;
	width: auto;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 25px;
	border-radius: 10px;
	border: solid 1px rgba(255, 255, 255, 0.125);
}
input[type='password'],
input[type='email'] {
	font-size: 20px;
	color: white;
	border-radius: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.25);
	border: solid 1px rgba(255, 255, 255, 0.125);
	padding: 0 5px;
	margin-bottom: 10px;
	outline: 0;
	width: 300px;
	height: 40px;
}
input::placeholder {
	color: white;
	opacity: 0.75;
}
input[type='submit'] {
	background-color: black;
	color: white;
	border-radius: 5px;
	border: none;
	width: auto;
	height: 40px;
	font-weight: 100;
	font-size: 20px;
}
.reg-form {
	display: none;
}
.log-form {
	display: flex;
}
p {
	font-size: 30px;
	font-weight: 700;
	color: white;
}
.reg-text,
.reg-link {
	font-size: 12px;
	font-weight: 100;
	color: white;
}
.reg-link {
	cursor: pointer;
	margin-left: 2px;
}
.reg-link:hover {
	text-decoration: underline;
}
